body {
    font-family: Arial, sans-serif;
    background-size: cover;
    color: white;
    text-align: center;
    transition: background-image 0.5s ease; /* Suaviza a transição da imagem de fundo */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 51, 255, 0.7);
}

input {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.resultado {
    background-color: rgba(93, 190, 255, 0.1); /* Fundo com transparência */
    border: 2px solid white; /* Borda branca */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(255, 51, 255, 0.5); /* Sombra para dar destaque */
    margin: 20px auto; /* Centraliza o retângulo */
    max-width: 400px; /* Largura máxima */
}
